.App {
  text-align: center;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.flashcard-grid {
  display: grid;
  gap: 10px;
  padding: 20px;
}

.flashcard {
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s, border 0.3s;
}

.flashcard:hover {
  transform: scale(1.05);
  background-color: #d3d3d3; /* Light gray background */
  color: #000; /* Black text color for contrast */
}

.flashcard.flipped {
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
}

.flashcard.flipped:hover {
  background-color: #d3d3d3; /* Light gray background */
  color: #000; /* Black text color for contrast */
}